
*.bak
Error.py
Customisation.txt
*.pyc
Clear.py
programAssets/randLog.txt
FTLRandVanilla.ftl
*.pdn
source/shipArmaments/Program.py
compiledFiles/data/
compiledFiles/img/
compiledFiles/audio/
compiledFiles/fonts/